version: '3.8'

services:
  app:
    build:
      context: ./backend
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./backend/src:/var/www/html:cached
    working_dir: /var/www/html
    environment:
      APP_ENV: testing
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    command: sh -lc "composer install --no-interaction --prefer-dist && phpdbg -qrr ./vendor/bin/phpunit -c phpunit.xml --coverage-clover=clover.xml"
